{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Enrolled Students</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <h1>Enrolled Students</h1>

    <h2>{{ course.title }}</h2>

    {% if enrollments %}

        <table border="1">
            <tr>
                <th>Student Name</th>
                <th>Email</th>
                <th>Enrollment Date</th>
                <th>Action</th>
            </tr>

            {% for enrollment in enrollments %}
                <tr>
                    <td>{{ enrollment.student.name }}</td>
                    <td>{{ enrollment.student.user.email }}</td>
                    <td>{{ enrollment.enrollment_date }}</td>
                    <td><a href="{%url 'teacher-result-edit' enrollment.id %}"> EDIT RESULT</a></td>
                </tr>
            {% endfor %}

        </table>

    {% else %}

        <p>No students are enrolled in this course.</p>

    {% endif %}

    <br>

    <a href="{% url 'teacher-dashboard' %}">
        Back to Dashboard
    </a>

</body>
</html>