{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Courses</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <h1>Course Management</h1>

    <a href="{% url 'admin-dashboard' %}">
        Back to Admin Dashboard
    </a>

    <br><br>

    <a href="{%url 'course-create' %}">
        Add New Course
    </a>

    <hr>

    {% if courses %}

        <table border="1" cellpadding="8">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Duration</th>
                <th>Teacher</th>
                <th>Actions</th>
            </tr>

            {% for course in courses %}
            <tr>
                <td>{{ course.title }}</td>
                <td>{{ course.description }}</td>
                <td>{{ course.duration }}</td>
                <td>{{ course.assigned_teacher.username }}</td>
                <td>
                    <a href="{% url 'course-edit' course.id %}">Edit</a>
                    |
                    <a href="{% url 'course-del' course.id %}">Delete</a>
                </td>
                
                    
            </tr>
            {% endfor %}

        </table>

        <br>

        {% if courses.has_previous %}
            <a href="?page={{ courses.previous_page_number }}">
                Previous
            </a>
        {% endif %}

        Page {{ courses.number }} of {{ courses.paginator.num_pages }}

        {% if courses.has_next %}
            <a href="?page={{ courses.next_page_number }}">
                Next
            </a>
        {% endif %}

    {% else %}

        <p>No courses available.</p>

    {% endif %}

</body>
</html>