{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Add Course</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <h1>Add New Course</h1>

    <form method="POST">
        {% csrf_token %}

        <p>
            <label>Course Title:</label>
            <input type="text" name="title" required>
        </p>

        <p>
            <label>Description:</label>
            <textarea name="description" required></textarea>
        </p>

        <p>
            <label>Duration:</label>
            <input type="text" name="duration" required>
        </p>

        <p>
            <label>Teacher:</label>

            <select name="teacher" required>
                <option value="">Select Teacher</option>

                {% for teacher in teachers %}
                    <option value="{{ teacher.id }}">
                        {{ teacher.username }}
                    </option>
                {% endfor %}

            </select>
        </p>

        <button type="submit">
            Create Course
        </button>

    </form>

    <br>

    <a href="{% url 'course-list' %}">
        Cancel
    </a>

</body>
</html>